* {
font-family: 'Red Hat Text',
sans-serif;
box-sizing: border-box;
  font-size: 16px;

}
body{
  background-color: #212f56;
  text-align: left;
}
header{
display: flex;
margin: auto;
}
section{
  margin: auto;
}
.container {
  margin: auto;
}

label{
  color: #212f56;
    text-align: left;

}
p{
 font-style: normal;
 line-height: 30px;
   text-align: left;


}
#nav-bar {
  position: sticky;
  top: 2.5em;
  z-index: 10;

}
#nav-bar1 {
position: sticky;
top: 0em;
z-index: 10;

}
.nav1{font-size: large;

  color: white;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
    transition: all 0.2s ease-in-out;

}
.nav1:hover{
color: #ffd186;
box-shadow: 0 5px 15px ;
  text-decoration: none;
}

.navbar {
  background-color: #212f56;
}

.navbar-brand img {
  padding-left: 20px;
  width: 250px;
  height: 20px;
}


.navbar-nav a {
  color: white !important;
  float: right;
  text-align: right;
}

.nav-link:hover {
  color: #ffd186 !important;
}
.fa-bars {
  color: #ffd186 !important;
  font-size: 30px;
}
.navbar-toggler {
  outline: none !important;
}
.btnretour {
  color:#ffd186;
  background-color: #212f56;
  float: left;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
}
.btnretour:hover {
  color: #212f56;
  background-color: #ffd186;
  float: left;
  border-radius: 20px;
  text-decoration: none;
  padding: 7px;
  border: #212f56 solid 3px;
}
.title {
  color: #ffd186;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}
.servBg {
  background-color: #ffd186;
   border-radius: 20px;
   padding: 10px;
   margin: 10px;
   box-shadow: 0 5px 5px rgb(0,0,0,0.15);
}
.services-img {
  width: 150px;
  margin-top: 20px;
  background-color: #ffd186;
  border: #212f56 20px;
  border-radius: 5%;
  padding: 10px;
  text-align: center;
}

.services h5 {
  padding: 10px;
  margin-top: 2px;
  text-transform: uppercase;
 }




.social-icons .fab {
  color: #ffd186;
  transition: 0.5s;
  padding-left: 10px;

}

.social-icons a:hover .fab {
  transform: translateY(-10px);
  color: #ffffff;
}


#footer {
  color: white;
    text-align: left;
}

.container-footer {
  background-color: #212f56;

}

.footer-box p {
}
.container-footer .row {
  margin-right: 50px;
  margin-left: 50px;

}

.footer-box fas {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  padding-right: 20px;
 }
  .footer-box p {
text-decoration: underline #ffd186;
 }

 .footer-box i{
   padding: 5px;
 }



.footer-box .form-control {
  box-shadow: none;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-color: #212f56;
}
.btnprimary{
  background-color: #212f56;
  color:#ffd186;
  text-decoration: none;
  border: #ffd186 3px solid;
}
.btnprimary:hover {
  background-color: #ffd186;
  color: #212f56;
  text-decoration: none;
    border: #212f56 3px solid;

}
.contactimg{
 width: 50%;
 height: 50%;
 border: #ffd186 3px solid;
}
.formcontact label{
  color: #ffd186;
}
.t1 {
  color: #ffd186;
}
#copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
  font-size: small;
}



.container-footer{
  padding-top: 100px;
}
